__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
dist/
build/
*.egg-info/

.vscode/
.idea/

logs/
# train/
# test/
# Runs/
# *_Run_*
*.log
# Large Binaries and Data
# *.mha
# *.mhd
# *.mat
# *.exe
# *.dll
# *.pyd
# *.lib
# *.raw
# *.bin
# *.nii
# *.nii.gz
